@import url('https://fonts.googleapis.com/css?family=Merienda|Merriweather|Montserrat+Subrayada:400,700');

body {
    background-color: #FFF1D3;
}

.wrapper {
    width: 100%;
}

#one {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
}

#two_column {
    padding: 0px;
}

article {
    padding: 20px;
    width: 60%;
    margin: auto;
}

aside {
    width: 36%;
    margin-top: 20px;
    margin-left: 10px;
    background: #03054f;
    border-radius: 10px;
}

#left {
    padding: 5px 5px 5px 0px;
    float: left;
}

#right {
    padding: 0 10px 10px 10px;
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
    background: #FFF1D3 url(../images/table-food-pic.jpg) no-repeat center bottom;
    height: 110px;
}

#index {
    height: 440px;
}

nav {
    background-color: #03054f;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#nav_short {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#nav li {
    float: left;
}

#nav_short li {
    float: left;
}

#nav a {
    display: block;
    color: #FFF1D3;
    padding: 20px 60px;
    text-decoration: none;
    background-color: #03054f;
    text-align: center;
    width: 100px;
}

#nav_short a {
    display: block;
    color: #FFF1D3;
    padding: 10px 60px;
    text-decoration: none;
    background-color: #03054f;
    text-align: center;
    width: 100px;
}

#home a {
    padding: 10px 5px;
    width: 80px;
    background-color: #FFF1D3;
    color: #03054f;
    border-radius: 10px;
}

#blank {
    background-color: #FFF1D3;
    width: 20px;
}

#nav a:hover {
    background-color: #FFF1D3;
    color: #03054f;
}

#nav_short a:hover {
    background-color: #FFF1D3;
    color: #03054f;
}

#home a:hover {
    background-color: #03054f;
    color: #FFF1D3;
}

#blank a:hover {
    background-color: #03054f;
}

footer {
    padding: 0px;
}

h1 {
    color: #03054f;
    background-color: #FFF1D3;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    color: #03054f;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1em;
}

.aside {
    color: #FFF1D3;
}

p {
    color: #03054f;
    text-align: left;
    font-family: 'Merriweather', serif;
}

.testimonial_quote {
    text-align: left;
    font-family: 'Merienda', sans-serif;
    line-height: 1.3em;
    margin-top: 5px;
    color: #FFF1D3;
}

.testimonial_person {
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: .7em;
    line-height: .5em;
    margin-bottom: 5px;
    color: #FFF1D3;
}

#slogan {
    background-color: #FFF1D3;
	font-family: 'Merienda', cursive;
	font-weight: bold;
    text-align: center;
}

ul {
    color: #03054f;
    background-color: #FFF1D3;
    font-family: 'Merriweather', serif;
    list-style-type: square;
    line-height: 1.5em;
}

#contact {
	text-align: right;
	font-size: .7em;
    margin-top: 20px;
}

@media screen and (max-width: 1130px) and (min-width: 770px) {
    article {
        width: 55%;
    }

    aside {
        width: 38%;
    }
}

@media screen and (max-width: 770px) and (min-width: 640px) {
    h1 {
        font-size: 2em;
    }
    article {
        padding: 20px;
        width: 100%;
        margin: 0 20px 0 0;
    }
    body {
        font-size: .9em;
    }
    #right {
        padding: auto;
        margin: 0 20px 0 0;
        float: left;   
        width: 97%;
    }
    .testimonial_person {
        text-align: left;
        padding-left: 50px;
    }
    #nav a {
        padding: 20px 40px;
    }
}

@media screen and (max-width: 640px) and (min-width: 520px) {
    h1 {
        font-size: 2.2em;
    }
    article {
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    body {
        font-size: .9em;
    }
    #right {
        padding: auto;
        margin: 0 20px 0 0;
        float: left;   
        width: 97%;
    }

    #contact {
        text-align: left;
        margin-top: 40px;
    }

    #nav a {
        padding: 20px 30px;
        width: 100px;
    }
}

@media screen and (max-width: 520px) {
    #index {
        height: 300px;

    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    #slogan {
        font-size: .9em;
    }
    article {
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    body {
        font-size: .9em;
    }
    #right {
        padding: auto;
        margin: 0 20px 0 0;
        float: left;   
        width: 95%;
    }

    #contact {
        text-align: left;
        margin-top: 20px;
    }

    #nav a {
        display: display;
        padding: 20px 60px;
        width: auto;
    }

    #nav li {
        float: none;
    }
}