@import url('https://fonts.googleapis.com/css?family=Merienda|Montserrat+Subrayada:400,700');

body {
    background: #FFF1D3 url(../images/table-food-pic.jpg) no-repeat center top;
    color: #FFF1D3;
}

h1 {
    color: #0F1C8A;
    background-color: #FFF1D3;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

p {
    color: #0F1C8A;
    background-color: #FFF1D3;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

#slogan {
	font-family: 'Merienda', cursive;
	font-weight: bold;
}

ul {
    color: #0F1C8A;
    background-color: #FFF1D3;
    font-family: Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    line-height: 1.5em;
}

#contact {
	text-align: right;
	font-size: 12px;
}