@import url('https://fonts.googleapis.com/css?family=Merienda|Merriweather|Montserrat+Subrayada:400,700');

body {
    color: #FFF1D3;
    background-color: #FFF1D3;
}

.wrapper {
    width: 100%;
}

#one {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
}

#two_column {
    padding: 0px;
}

article {
    padding: 20px;
    width: 60%;
    margin: auto;
}

aside {
    padding: 20px;
    width: 38%;
    margin: auto;
}

#left {
    padding: 20px 0 0 0px;
    float: left;
}

#right {
    padding: 10px 0 0 20px;
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
    background: #FFF1D3 url(../images/table-food-pic.jpg) no-repeat center top;
    height: 552px;
}

nav {
    background-color: #03054f;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    color: #FFF1D3;
    padding: 20px 60px;
    text-decoration: none;
    background-color: #03054f;
    text-align: center;
}

#nav a:hover {
    background-color: #FFF1D3;
    color: #03054f;
}

footer {
    padding: 0px;
}

h1 {
    color: #03054f;
    background-color: #FFF1D3;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    color: #03054f;
    background-color: #FFF1D3;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 2em;
}

p {
    color: #03054f;
    background-color: #FFF1D3;
    text-align: left;
    font-family: 'Merriweather', serif;
}

.testimonial_quote {
    text-align: left;
    font-family: 'Merienda', sans-serif;
    line-height: 1.3em;
    margin-top: 5px;
}

.testimonial_person {
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: .7em;
    line-height: .5em;
    margin-bottom: 5px;  
}

#slogan {
	font-family: 'Merienda', cursive;
	font-weight: bold;
    text-align: center;
}

ul {
    color: #03054f;
    background-color: #FFF1D3;
    font-family: 'Merriweather', serif;
    list-style-type: square;
    line-height: 1.5em;
}

#contact {
	text-align: right;
	font-size: .7em;
    margin-top: 20px;
}

@media screen and (max-width: 1130px) {
    article {
        width: 55%;
    }

    aside {
        width: 42%;
    }
}

@media screen and (max-width: 770px) and (min-width: 640px) {
    header {
        height: 440px;
    }
    h1 {
        font-size: 2em;
    }
    article {
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    #right {
        padding: 5px 0 0 0;
        float: left;   
        width: 100%;
    }
    .testimonial_person {
        text-align: left;
        padding-left: 50px;
    }
}

@media screen and (max-width: 640px) and (min-width: 520px) {
    header {
        height: 440px;
    }
    h1 {
        font-size: 2em;
    }
    article {
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    #right {
        padding: 5px 0 0 0;
        float: left;   
        width: 100%;
    }

    #contact {
        text-align: left;
        margin-top: 40px;
    }

    #nav a {
        padding: 20px 40px;
    }
}

@media screen and (max-width: 520px) {
    header {
        background: #FFF1D3 url(../images/table-food-pic.jpg) no-repeat center bottom;
        height: 300px;

    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    #slogan {
        font-size: .9em;
    }
    article {
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    body {
        font-size: .9em;
    }
    #right {
        padding: 5px 0 0 0;
        float: left;   
        width: 100%;
    }

    #contact {
        text-align: left;
        margin-top: 40px;
    }

    #nav a {
        display: display;
        padding: 20px 60px;
    }

    #nav li {
        float: none;
    }
}